 .app {
   background-image: linear-gradient(100deg, #52d6e7, #ddd2ce);
 image-rendering: auto;
   font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  text-align: center;

}


